<div class="container">
  <h2>About Us</h2>
  <p>
    PNG is more than jewellery… it embodies family values, based on trust &
    understanding. Our lineage is committed to learning and progressing. We
    thank our customers, fellow jewellers and hope to grow, while staying true
    to our roots.
  </p>
  <h4>The PNG beginning</h4>
  <p>
    The story of P N Gadgil Jewellers is no fairy tale but an epic scripted
    meticulously by six generations of the Gadgil clan. It all started way back
    in the 18th century, the group gets its name from the late Purshottam
    Narayan Gadgil, a doyen of the family and the chief architect who captured
    the hearts and imagination of the people with his ethics and his jewellery.
  </p>

  <h4>Expanding the PNG trust</h4>

  <p>
    With unbeatable trust gained at chain of stores in Pune, PN Gadgil took
    Mumbai and other major cities of Maharashtra to enrich its market-hold.
    Today, the brand has exclusive stores in Mumbai, Aurangabad, Nagpur,
    Ahmednagar, Panvel, Goa and Nanded. Also spreading its global wings across
    US & UAE. The PNG online store is operated from Mumbai. While purity and
    transparency continue to earn the trust scores of customers, what also sets
    the brand apart is the wide variety comprising of Gold necklaces, bangles,
    vedhnis, chains, mangalsutras, ear-rings, rings etc. Through various
    intricately crafted collections, the brand has distinct styles to offer. The
    flagship Heritage Collection has jewellery in polki, jadau, uncut diamonds
    and traditional Maharashtrian jewellery. Some of their special Collections
    include Balgandharva, Temple, Royal and Wild Gold. Keeping the affordability
    quotient of customers too in mind, the brand has beautifully designed
    certified diamonds jewellery.
  </p>
</div>
