<h1>{{ goldTitle }}</h1>
<ul class="row">
  <li class="col-sm-3">
    <a routerLink="./bangals" routerLinkActive="active">
      <div class="productbox">
        <div>
          <img
            src="../../../../assets/gold/productbangel_(4).jpg"
            class="img-fluid"
          />
        </div>
        <div>
          <strong>Bangels</strong>
        </div>
      </div>
    </a>
  </li>
  <li class="col-sm-3">
    <a routerLink="./earing" routerLinkActive="active">
      <div class="productbox">
        <div>
          <img src="../../../../assets/gold/product6.jpg" class="img-fluid" />
        </div>
        <div>
          <strong>Earings</strong>
        </div>
      </div>
    </a>
  </li>

  <li class="col-sm-3">
    <a routerLink="./ring">
      <div class="productbox">
        <div>
          <img src="../../../../assets/gold/ring.jpg" class="img-fluid" />
        </div>
        <div>
          <strong>Rings</strong>
        </div>
      </div>
    </a>
  </li>
</ul>
<router-outlet></router-outlet>
