<div class="container">
  <h1><strong>Product of the week</strong></h1>
  <div class="weekprod">
    <ul class="row">
      <li class="col-sm-3">
        <a>
          <div>
            <img src="../../../assets/gold/necklace.jpg" class="img-fluid" />
          </div>
          <p><strong>Fair Gold Thushi</strong></p>
        </a>
      </li>
      <li class="col-sm-3">
        <a>
          <div>
            <img
              src="../../../assets/gold/bangals/product5.jpg"
              class="img-fluid"
            />
          </div>
          <p><strong>Fair Gold Thushi</strong></p>
        </a>
      </li>
      <li class="col-sm-3">
        <a>
          <div>
            <img
              src="../../../assets/gold/earings/product3.jpg"
              class="img-fluid"
            />
          </div>
          <p><strong>Fair Gold Thushi</strong></p>
        </a>
      </li>
      <li class="col-sm-3">
        <a>
          <div>
            <img src="../../../assets/gold/ring1.jpg" class="img-fluid" />
          </div>
          <p><strong>Fair Gold Thushi</strong></p>
        </a>
      </li>
    </ul>
  </div>
</div>
<app-products></app-products>
<router-outlet></router-outlet>
